*,
*::after,
*::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

button{
    cursor: pointer;
}

#nav{
    width: 100%;
    height:60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#nav > div {
    width:98%;
  
    display: grid;
    grid-template-columns: auto auto 1fr auto  auto auto auto;
    height: 100%;
    align-items: center;
    
   
}

.category{
    padding:0 10px;
    
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.nav-text{
    padding:0 10px;
   
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

#logo{
    margin-right: 10px;
    width: fit-content;
    
    display: flex;
    align-items: center;

    
}

#logo img{
    margin: 0;
    padding: 0;
}

#input{
    margin: 0 10px;
    height: 80%;
   
    display: flex;
    align-items: center;
    position: relative;
}

#input > input{
   width: 100%;
   border-radius: 25px;
   height: 95%;
   padding-left: 50px;
}

.inputsearch{
    position: absolute;
    top:50%;
    left:20px;
    transform: translateY(-50%);
    color: rgba(5, 5, 5,0.8);
}


#button-container{
 display: flex;
 align-items: center;
 margin: 0 10px;

 width: 190px;
 justify-content: space-between;
}



#button-container > button{
    width: 70px;
    
    border:1px solid black;
    height: 40px;

}

#cart-font{
    margin: 0 10px;
    
    height: 100%;
    display:flex;
    align-items: center;
}

#cart-font i{
    height: 100%;
    
}

.fa-shopping-cart{
    display: flex !important;
    align-items: center !important;
    padding: 5px;
    
}



#button-container > span{
    border:1px solid black;
    display: flex;
    height: 40px;
    align-items: center;
    

}

#button-container  i{
    padding: 0 10px;
}

#login{
 background-color: white;
}

#login:hover{
    background-color: rgb(241, 241, 241);
}

#sign{
    background-color: black;
    color:white;
}

#sign:hover{
    color: rgb(241, 241, 241);
}


#button-container > span:hover{
    background-color: rgb(241, 241, 241);

}

#mobileMenu{
    display:none;
}

#mysearch{
    display:none;
    
}

@media screen and (max-width:1080px) {
    
 
    .udemy-business{
        display: none;
    }
}


@media screen and (max-width:920px) {
    
    .nav-text{
        display: none;
    }

    
}



@media screen and (max-width:800px) {
  
#mobileMenu{
    display:inherit;
}
.nav-text, .category{
    display: none;
}
#button-container{
    display: none;
}
#input{
    display:none
}

#nav > div {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

#mobileMenu{
    justify-self: flex-start;
}


#logo{
    justify-self: center;
}

#cart-font{
    justify-self:self-end;
}


#mysearch{
    display:inherit;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

}


/* hero-section */

#hero-section{
    width:100%;
    padding:0 3px;
    
    background-color: aliceblue;
    box-sizing: border-box;
    height: fit-content;
}

#hero{
  width:100%;
  height: 100%;
  
  padding: 0;
  margin: 0;
  position: relative;
  height: fit-content;
}

#hero img{
  width: 100%;
  padding: 0;
  margin: 0;
}

#hero-card{
    width:400px;
    height:fit-content;
    background-color: white;
    padding:20px;
    top:0;
    left: 0;
    position: absolute;
    transform: translate(25%, 50%);


}

#hero-card h1{
 margin-bottom: 10px;
 

}

#hero-card p{
    font-size: 22px;
   }

   @media screen and (max-width:1200px) {
    
   
     #hero-card{
        width:400px;
        
        transform: translate(10%, 20%);
    
    
    }


   }

   
   @media screen and (max-width:1000px) {
    
   

    #hero-card{
        width:350px;    
        position: absolute;
        transform: translate(10%, 15%);
    
    }
    
#hero-card h1{
    font-size: 35px;
   }

  }

  
  @media screen and (max-width:700px) {
 
    #hero-card{
        display:none
    
    }

    #hero img{
       height:250px;
       object-fit: cover;
       
      }
      

  }

  /* firstsection */

  #firstSection {
    padding: 30px 20px 0 20px;
  }

  #firstSection h1{
    margin:10px 0;
  }  

  
  #firstSection p{
    margin:10px 0;
    font-size: 20px;
  }

  #firstSection ul{
    list-style: none;
  }

  #firstSection ul >li{
    display: inline-block;
    margin-right: 10px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  /* courseSection */
#courseList1 {
    width: 100%;
    padding:5px 20px;
    margin-top: 20px;
    
  
}

#courseList1>div{
    
    width: 100%;
    border: 1px solid rgba(100, 100, 100, 0.6);
    padding:25px;
   
    overflow: hidden;
    position: relative;
}


#courseList1>div>h1{
    
   margin-bottom: 10px;
}

#courseList1>div>p{
    
    margin-bottom: 15px;
    width:100%;
    max-width: 800px;
    font-size: 18px;
 }

 
#courseList1>div>button{

    background-color: transparent;
    border: 1px solid black;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: capitalize;
}


 
#courseList1>div>button:hover{

    background-color: rgb(226, 226, 226);
  
}

  /* grid section */
  #secondSection{
  
   padding: 0 20px;
  }

  #secondSection h2{
  
    padding: 20px 0;
   }

  #item{
    
    height: fit-content !important;
  }

  #item img{
    width: 100% !important;
    transition: all 1s ease ;
    transform: scale(1);
  }

  #item:hover img{
    transform: scale(1.02);
    
    transition: all 0.2s ease ;
  }


  #item p{
    
   font-weight: bold;
  }
  #grid-section{
     display: grid;
     grid-template-columns: repeat(4, minmax(100px, 1fr));
     grid-template-rows:  repeat(auto-fit, auto);
    column-gap: 2.1%;
     
     justify-items:flex-start;
    
     row-gap: 30px;
     

  }



@media screen and (max-width:700px) {
    
    #grid-section{
        
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-template-rows:  repeat(auto-fit, auto); 
   
     }
   
}



@media screen and (max-width:600px) {
    
    #secondSection{
        
        display: none;
     }
   
}

#thirdSection{
    padding:30px 20px;
    background-color: rgb(245, 245, 245);
    margin-top: 60px;
}

#thirdSection h2{
    padding:30px 0 10px 0;
}

#thirdContent{
    display:flex;
    width: 100%;
    max-width: 1100px;

    justify-content: space-between;
}

#thirdContent h3{
    padding: 10px 0 5px 0;
}

#thirdContent .header{
    padding: 20px 0 10px 0;
    font-weight:bolder!important;
    font-size: 18px;
}


#thirdContent .header>a{
    color:rgb(0, 0, 196);
    font-weight:bolder!important;
}


#thirdContent #sub-header{
  font-size: 13px;
    
}


#third-button{
    padding:10px;
    border:1px solid black;
    background-color: transparent;
    font-weight: bold;
    margin: 20px 0;
    color: black;

}

@media screen and (max-width:700px) {
  
#thirdContent .header{
    
    font-size: 14px;
}


}

@media screen and (max-width:600px) {
    
    
#thirdContent{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, auto);
  row-gap: 20px;
  width: 100%;
  max-width: 450px;
  
}

#third-button{
    width: 100%;
}

#thirdContent h3{
    font-size: 16px;
}


}

#forthSection{
    text-align: center;
    margin-top:50px;
    padding: 0 20px;
}


#forthSection h2{
   
    margin-bottom:20px;
}


#forthImage{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin:30px 0 30px 0;
}


@media screen and (max-width:950px) {

    
#forthImage{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}
    
}

/* section five */

#fifthSection{
    margin-top: 80px;
    padding: 0 20px;
}

#fifth-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#partOne{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-width: 900px;
    column-gap: 15%;
    width: 100%;
    
}


.partOneOne img{

    width:200px ;
    margin-bottom: 10px;
}

.partOneOne ul{
    
    margin-left: 20px;
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 22px;
}

.partOneOne ul> li{

    margin:10px 0;
}

.partOneOne button{
    border:1px solid black;
    padding: 15px 10px;
}

.partOneOne .get{
    background-color: black;
    color:white;
    font-weight: bold;
}

.partOneOne .learn{
    background-color: white;
  
    font-weight: bold;
}



.partOneTwo img{
    width: 100%;
    height: 100%;
}

#partTwo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-width: 900px;
    column-gap: 15%;
    width: 100%;
    margin-top: 80px;
}

.partTwoTwo{
    padding-top:100px;
}

.partTwoTwo h1{
  margin-bottom: 10px;
}


.partTwoTwo p{
    font-size: 20px;
    margin-bottom: 15px;
  }

  
.partTwoTwo button{
    border:1px solid black;
    padding: 15px 15px;
    background-color: rgba(0, 0, 0,0.9);
    color: white;
    font-weight: bold;
}

@media screen and (max-width:980px) {
    #partOne{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        max-width: 600px;

    }

    .partOneOne{
        text-align: center;
        margin-top: 20px;
    }

    .partOneOne ul{
        text-align: left;
    }

    
.partOneOne .button-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}


#partTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;

    
}


.partTwoTwo{
    padding-top:20px;
    text-align: center;
}

}

@media screen and (max-width:600px) {
 
.partOneOne .button-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
}


.partTwoTwo button{
    width: 100%;
}


}
/* footer */

footer{
    padding:40px 40px;
    background-color: black;
    color: white;
    margin-top: 80px;
}


#first-div{
    width: 100%;
    display: flex;
    
    justify-content: space-between;
}

#footer-button-div{
    width: auto;
}

#footer-button-div button{
   color: white;
   border: 1px solid white;
   background-color: transparent;
   padding: 10px 40px 10px 20px;
   margin-bottom: 20px;
}


#list-section{
    display: flex;
    width:75%;
    
    max-width: 750px;
    justify-content: space-between;
}

#list-section ul{
    list-style: none;
}

#list-section li{
   margin-bottom:10px; 
   width:fit-content;
   cursor: pointer;
}



#list-section li:hover{
    border-bottom: 1px solid white ;
 }

 #logo-bottom{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
 }

 #logo-bottom img{
     width: 100px;
     color: white;
 }

 @media screen and (max-width:700px) {
    
 

  #first-div{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
  
#list-section{
    display: flex;
    width:75%;
    flex-direction: column;
    
    max-width: 750px;
   
}


#logo-bottom{
    margin-top: 20px;
    display: flex;
     flex-direction: column;
 }


 }

 /* cardList */
#control{
    position: relative;
}
 #courseCardList{
   margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    /* grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    column-gap: 15px; */
    position: relative;
  
    
 }

 #eachCard{
   /* width:400px; */
   margin-right: 15px;
   z-index: -100;
   
 }

 #eachCard > img {
    width: 100%;
 }

 
 #eachCard >h3 {
   font-size: 15px;
   padding-bottom: 5px;
 }

 
 #eachCard >p {
    font-size: 12px;
    color: rgba(0, 0, 0,0.6);
  }

  #cardRating{
    display: flex;
    align-items: center;
  }
.ratingSpan{
  font-size: 13px;
  font-weight: bold;
  color: rgb(187, 159, 0);
}
#imageSpan{
    margin:0 5px;
}

#imageSpan img{
  width:10px

}

.cardPeople{
    font-size: 13px;
}

#cardPrice{
    font-size: 13px;
}

.cancelPrice{
    margin:0 5px;
    text-decoration: line-through;
}


/* slidingCourseCard */

.firstItem{
    position: relative;
    transform: translateX(0);
    transition: all 1s ease;
    
   
}


.lastItem{
    margin-right: 0 !important;
    position: relative;
    transform: translateX(0);
    transition: all 1s ease;
   

}

.slideLeft{
    position: absolute;
    left:0;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0s ease;

    
}

.slideRight{
    position: absolute;
    right: 0;
    transform: translateX(100%);
    Opacity:0;
    transition: all 0s ease;

 
}

.courseMove{

    background-color: rgb(56, 56, 56);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:0.5px solid white;
    z-index: 200;
}

#lessThan{
    position: absolute;
    left:0%;
    transform: translateX(-45%);
    top:22%;
    
    
}
#greaterThan{
    position: absolute;
    right:0%;
    top:22%;
    transform: translateX(45%);
}

.courseMove > i{
    position: relative;
    color: white;
    left:33%;
    top:20%;
    font-size: 25px;
    font-weight: bolder;
}

.deactivate{
    display: none;
}

/* moving submenu */

#moveMenu{
    width: 300px;
    
    position: absolute;
    background-color: white;
    top:60px;
    z-index: 200;
    display: none;
    text-align: center;
    padding: 10px;
    box-sizing: content-box;
    border-top:4px solid rgba(0, 0, 0,0.1);
    
}


#moveMenu p{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

#moveMenu button{
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    padding:13px;
}


.pmove{
 font-weight: 500 !important;
 font-size: 15px !important;
}

.buttonMove{
    background-color: transparent !important;
    color: blue !important;
    border: none !important;
    font-weight: bold;
}